<% include partials/header.ejs %>
<div class = "container">
    <header class="jumbotron">
        <h1>This is the campgrounds page</h1>
        <p>View Our Camp Ground</p>
    </header>
<% campgrounds.forEach(function(campground){%>
    <div>
        <h4></h4><%=campground.name%></h4>
        <img src="<%= campground.image %>">
    </div>
<% }); %>
</div>

<% include partials/footer.ejs %>
